header{
    display:block;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #121212;

    .wrap{
        position:relative;  /*this needs to be relative for the .logo absolute to work*/
        display:block;
        margin: 0 auto;
        width: 100%;
        height: 300px;
        max-width: 980px;

        .logo{
            display:block;
            width: 250px;
            position: absolute;
            left: 10px; top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            img{
                display: block;
                width: 100%;
                margin: 0;
            }
        }
    }
}